.blue-hedelix{
    color:#005FB7;
}
.font-philosopher{
    font-family: 'Philosopher', sans-serif;
}
body{
    font-family: 'Cabin', sans-serif;
}
/*header*/
.container-fluid{
    background: #c6dfcc; /* Old browsers */
    background-image: url(imgs/header-template/logo-banner.png);
    background-image: url(imgs/header-template/logo-banner.png), -moz-radial-gradient(center, ellipse cover,  #c6dfcc 0%, #88ac8a 100%); /* FF3.6-15 */
    background-image: url(imgs/header-template/logo-banner.png), -webkit-radial-gradient(center, ellipse cover,  #c6dfcc 0%,#88ac8a 100%); /* Chrome10-25,Safari5.1-6 */
    background-image: url(imgs/header-template/logo-banner.png), radial-gradient(ellipse at center,  #c6dfcc 0%,#88ac8a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6dfcc', endColorstr='#88ac8a',GradientType=1 ); /* IE6-9 fallback on
    horizontal gradient */
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
}
.logo-header .img-responsive {
    max-width: 250px;
    max-height: auto;
}
.sub-logo-text{
    margin-bottom: 15px;
}
.sub-logo-text h3{
    font-size: 18px;
}
.navbar-default{
    background-color: transparent;
    border: none;
}
.navbar-header{
    display: flex;
    justify-content: flex-end;
}
.navbar-header button{
    background-color:rgba(114,114,118,0.5);
}
.navbar-header:active{
    background-color: rgba(114, 114, 119, 0);
}
.navbar-collapse{
    border: none;
}
.glyphicon-menu-hamburger{
    font-size: 25px;
    margin: 5px 5px 0px 5px;
}
.navbar-nav {
    width: 100%;
    text-align: center;
  }
 @media (max-width: 768px) {
    .navbar-nav{
        display: flex;
        flex-direction: column;
    }
    .slash-bar{
        display: none;
    }
 }
.navbar-nav li {
    float: none;
    display: inline-block;
 }
 .logo-text h1{
    margin: 0;
    font-size: 25px;
 }
 .navbar-default .navbar-nav>li>a{
    font-style: italic;
    font-size: 20px;
    color: #333333;
    transition: 0.2s;
 }
 .navbar-default .navbar-nav>.active{
    color:#005FB7;
    padding-bottom: 5px;
    border-bottom: solid 1px #005FB7;
 }
 .navbar-default .navbar-nav>.active>a{
     background-color: transparent;
     color:#005FB7;
     padding: 0px 15px 0px 15px;
 }
 .navbar-default .navbar-nav>li>a:hover{
     background-color: transparent;
     color:#f0f0f0;
 }
 .navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
    color:inherit;
 }
.slash-bar{
    font-weight: 100;
    font-size: 25px;
}
/*FIN header*/

/*content*/
.content-container-home{
    margin-bottom: 70px;
}
.logo-content{
    margin-bottom: 20px;
}
.logo-content-btn .btn-primary, .btn-modal{
    background-color: #005FB7;
    font-size: 35px;
    transition: 0.2s;
    padding: 0 25px;
}
.content{
    width:100%;
    display: flex;
    justify-content: center;
}
.content-container{
    padding: 10px 10px 5px 10px;
    max-width: 1000px;
    margin-bottom: 70px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f0f0+1,cacaca+100 */
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0f0f0 1%, #cacaca 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f0f0f0 1%,#cacaca 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f0f0f0 1%,#cacaca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#cacaca',GradientType=0 ); /* IE6-9 */
}

/*content-sobre*/
.text-content{
    font-size: 15px;
}
.content-social, .content-ficha{
    margin:25px 20px 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}
.modal-content{
    padding: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f0f0+1,cacaca+100 */
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0f0f0 1%, #cacaca 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f0f0f0 1%,#cacaca 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f0f0f0 1%,#cacaca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#cacaca',GradientType=0 ); /* IE6-9 */
}
.modal-content h4{
    line-height: 90%;
}
.modal-header{
    border-bottom: 1px solid rgba(114,114,118,0.3);
}
.modal-footer{
    border-top: 1px solid rgba(114,114,118,0.3);
}
.content-social-icons, .btn-modal{
    margin-left: 20px;
    color: white;
}
.content-social-text{
    font-size: 20px;
    line-height: 80%;
}
@media (max-width: 768px) {
    .content-container .border-none{
        border: none;
    }
    .content-social, .content-ficha{
        justify-content: center;
        flex-direction: column;
        border-bottom: 1px solid rgba(114,114,118,0.5);
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
 }
 /*FIN content-sobre*/


/*content-puntos*/
.puntos-ventas-logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
/*imagenes*/
.puntos-imgs{
    margin: 10px;
}
.puntos-imgs img{
    max-height: 49px;
}
/*puntos de venta*/
.puntos-ventas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.ciudades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
    min-width: 21%;
}
.direcciones{
    width:100%;
}
.ciudades ul{
    padding-left: 0;
}
.ciudades ul li{
    list-style: none;
    border-left: 1px solid rgba(114,114,118,0.5);
    margin: 15px 0;
    padding-left: 8px;
    color:#8C8C8C;
}
/*FIN content-puntos*/


/*footer*/
footer{
    background: #f1f1f1; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #f1f1f1 0%, #cbcbcb 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #f1f1f1 0%,#cbcbcb 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #f1f1f1 0%,#cbcbcb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#cbcbcb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/*footer top*/
footer .publicy{
    margin: 50px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
footer .publicy img{
    max-height:86px;
}
footer .publicy img{
    border-left: 2px solid rgba(114,114,118,0.5);
    padding-left: 20px;
}
footer .publicy img:first-child:after{
    border-left: none;
}
/*footer mid*/
footer .foot-mid{
    margin-bottom: 20px;
}
footer .foot-mid ul li{
    display: inline-block;
    list-style: none;
    margin:0 8px;
}
footer .foot-mid a, .foot-mid span{
    font-size: 18px;
}
/*footer bot*/
footer .foot-bot p{
    line-height: 90%;
    font-size: 18px;
}
/*FIN footer*/
